<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Semi Eren Gökyıldız</title>
</head>
<body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/images/eren.png" alt="eren profile picture" width="175px" height="175px"></td>
        <td><h1>Semi Eren Gökyıldız</h1>
        <p>I am an Embedded System and Web Developer.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Embedded System Development</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Proteus</td>
        <td>⭐️⭐⭐️️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
</body>
</html>